services:
  homepage:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: praytic-homepage
    restart: unless-stopped
    ports:
      - "127.0.0.1:8081:80"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

